.title-dark {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

.sub-title {
  font-size: 18px;
  font-weight: 500;
  color: #babbbb;
}

.content {
  justify-content: space-between;
}

.content-icon {
  position: absolute;
  top: 30px;
  left: 22px;
  height: 33px;
  width: 55px;
}

.icon-wrapper {
  position: relative;
  height: 96px;
  width: 96px;
  border-radius: 45px;
  background-color: rgb(37, 113, 234, 0.1);
  color: #2571ea;
}

.content-wrapper {
  box-sizing: content-box;
  padding: 22px;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
}

.content-desc {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #9b9c9c;
  white-space: normal;
}
