.card-wrapper-dark {
  margin-top: 16px;
  background-color: rgb(255, 255, 255);
  width: 280px;
  height: 520px;
  cursor: pointer;
}

/* Only light applied */
div.card-content-dark {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  padding: 8px 16px;
}

.name-dark {
  font-size: 22px;
  font-weight: 500;
}

div.creator-rights-dark {
  align-items: flex-start;
  padding-left: 8px;
}
