/* Light Applied*/
.main-dark {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.title-dark {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700s;
}

button.btn-dark {
  border: 1px solid rgb(196, 196, 196);
  height: 56px;
  padding: 16px 24px;
  background-color: #000000;
}

button.btn-dark:hover {
  border: 1px solid #ffffff;
  height: 56px;
  color: white;
  background-color: #f4a7a5;
}

button.filter-btn-dark {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid #ffffff;
  border-radius: 50px;
  height: 37px;
  padding: 8px 24px;
}

button.filter-btn-dark:hover {
  background-color: #2571ea;
  color: white;
  border: 1px solid #2571ea;
  border-radius: 50px;
  height: 37px;
  padding: 8px 24px;
}

.explore-wrapper {
  margin-bottom: 40px;
}

/* bottom doesnt get applied on dark mode - added inline style */
.filter-btn-wrappern-dark {
  margin-bottom: 48px;
}
